@model IEnumerable<MyAppAspNet.Models.UserGroupLevelJoin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<table class="table">
    <tr>
        <th>
            Group
        </th>
        <th>
            Parent
        </th>
        <th>
            Remark
        </th>
        <th>
            Join
        </th>
    </tr>
@foreach (var item in Model)
{
    var dir = new Dictionary<String, Object>();
    dir["sparator"] = "";
    dir["item"] = item;
    @Html.Partial("~/Views/appdashboard/adminsystem/User/UserGroupLevel/Item.cshtml", dir);
}
</table>

<script>
    $(document).ready(function () {
        $("input[type=checkbox]").on("click", function (e) {
            var idgrouplevel = $(this).attr("idgrouplevel");
            var ischecked = +$(this).is(':checked');
            checkedJoin(idgrouplevel, ischecked);
        });
        function checkedJoin(idgrouplevel, ischecked) {
            $.ajax({
                type: 'POST',
                url: '@HttpContext.Current.Request.Url.AbsoluteUri/edit/' + idgrouplevel,
                data: {
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    is_checked: ischecked,
                },
                success: function (data) {
                    //alert(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
    });
</script>
