@model IEnumerable<MyAppAspNet.Models.GroupLevel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<p>
    @Html.Partial("~/Views/Shared/action/add-button.cshtml", "Create New")
</p>
<table class="table">
    <tr>
        <th>
           Group
        </th>
        <th>
            Remark
        </th>
        <th>
            Parent
        </th>
        <th>Action</th>
    </tr>
@foreach (var item in Model)
{
    var dir = new Dictionary<String, Object>();
    dir["sparator"] = "";
    dir["item"] = item;
    @Html.Partial("~/Views/appdashboard/adminsystem/GroupLevel/Item.cshtml", dir);
}
</table>
