@if ((HttpContext.Current.Items["Access"] as MyAppAspNet.Models.UserRole).allow_add)
{
    <a href='@Url.Action("Create")' class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> @Html.Raw(Model)</a> 
}