
<li class="nav-item has-treeview menu-close">
    <a href="#" class="nav-link ">
        <p>
            Menu 1
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        
    </ul>
</li>
