@model MyAppAspNet.Models.MenuApp

@if (Model == null)
{
    <li class="nav-item has-treeview menu-close">
        <a href="#" class="nav-link ">
            <i class="fa fa-angle-left"></i>
            <p>
                Menu Parent 1
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            @foreach (var item in Model.)
            {
                @Html.Partial("~/Views/Shared/itemmenu.cshtml")
            }
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a href="" class="nav-link item-menu">
            <i class="fa fa-angle-left"></i>
            <p>Menu 1</p>
        </a>
    </li>
}